
div.home-container {
    z-index: 1;
    position: relative;
    width: 70vw;
    padding: 15px;
}

div.frosted-glass {
    position:absolute;
    width:110%;
    height:100%;
    z-index: -1;
    margin-left: -5.5%;
    background: rgba(0,0,0,0.5);
    filter: blur(2.5px)
}
/* TODO (ADD FALLBACK FONTs) */
h2, p {
    font-family: core-deco;
}

h2 {
    text-decoration: underline;
}

p {
    font-size: 1em;  
}