
div.home-container {
    z-index: 1;
    position: relative;
    background: rgba(0,0,0,0.5);
    margin: 0 20%;
    padding-bottom: 5%;
}

.home-container h2 {
    text-decoration: underline;
    margin-left: 5%;
}

.home-container p {
    margin: 0 5%;  
}

@media only screen and (max-width: 1024px) and (min-width: 468px) {
    div.home-container {
        margin: 0 10%;
    }
}

@media only screen and (max-width: 468px) {
    div.home-container {
        margin: 0 2%;
    }

}