ol {
    padding-left: 5%;
}

div.news-container {
    width: 100vw;
}

.news-container h2 {
    text-decoration: underline;
}

.rulesIntro-container, .rulesSpec-container {
    background: rgba(0,0,0,0.5);
    margin-bottom: 5%;
    padding: 2% 5%;
}
