
div.characters-container {
    padding-left: 15px;
    box-sizing: border-box;
}

.characters-container button {
    border: none;
    background: none;
    color: white;
    padding: 5px;
}

.characters-container h2 {
    text-decoration: underline;
}

button.guide-text::before {
    content: "";
    height: 0px;   
    width: 0px;   
    position: absolute;    
    right: 10px;    
    border-left: 15px solid transparent;    
    border-right: 7px solid #062435;    
    border-bottom: 5px solid transparent;    
    border-top: 10px solid #062435;    
    bottom: -12px;
}

button.guide-text {
    position: relative;
    color: white;
    background: #062435;
    border: none;
    cursor: default;
    height: auto;
    width: 23vw;
    float: right;
    right: 400px;
    top: -45px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    font-size: calc(10px + 0.8vw);
    opacity: 0;
    transition: opacity 400ms ease;
}

button.guide-text:focus {
    opacity: 1;
}

button.character-title[data-ref=Victim] {
    cursor: default;
}

div.character-info {
    position: relative;
}

div.character-info h3 {
display: inline;
}

div.profile-img {
    display: inline-block;
    margin-right: 1em;
    vertical-align: middle;
}

div.character-info h3 {
    line-height:4em;
    vertical-align: middle;
}

div.secret-container {
    background: none;
    max-height:0;
    padding: 2% 5%;
    overflow:hidden;
    margin-left: -2%;
}

div.secret-container.open {
    background: rgba(0,0,0,0.5);
    max-height: 250vh;
    transition: max-height 1500ms ease 500ms, background 400ms ease;
}

div.secret-container p {
    white-space: pre-line;
    line-height: 150%;
}

