
div.characters-container {
    padding-left: 15px;
    box-sizing: border-box;
}

button.guide-text::before {
    content: "";
    height: 0px;   
    width: 0px;   
    position: absolute;    
    right: 10px;    
    border-left: 15px solid transparent;    
    border-right: 7px solid #062435;    
    border-bottom: 5px solid transparent;    
    border-top: 10px solid #062435;    
    bottom: -15px;
}

button.guide-text {
    position: relative;
    color: white;
    background: #062435;
    border: none;
    cursor: default;
    height: auto;
    width: 23vw;
    float: right;
    right: 500px;
    top: -45px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    font-size: calc(10px + 0.8vw);
    opacity: 0;
    transition: opacity 400ms ease;
}

button.guide-text:focus {
    opacity: 1;
}

button.character-title[data-ref=Victim] {
    cursor: default;
    border: none;
    background: none;
    color: white;
    padding: 5px;
}

button.character-title[data-ref=Suspect] {
    cursor: pointer;
    border: none;
    background: none;
    color: white;
    padding: 5px;
    transform: scale(1);
    transition: transform 400ms ease;
}


button.character-title[data-ref=Suspect]:hover {
    transform: scale(1.2) translateX(25px);
    transition: transform 400ms ease;
}


div.character-info h3 {
display: inline;
}

div.profile-img {
    display: inline-block;
    margin-right: 1em;
    vertical-align: middle;
}

div.character-info h3 {
    line-height:4em;
    vertical-align: middle;
}