/* TODO(FIX WIDTH FOR SMALLER SCREEN) */

div.modal-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    top: 40vh;
    background: black;
    border: 15px solid transparent;
    border-image: url("../../images/ui/door-slot.jpg") 50 round;
    width: 45vw;
    max-width: 500px;
    padding: 15px 0;
    z-index: 5;
    overflow:hidden;
}

div.modal-header {
    position: relative;
    display: flex;
    justify-content: space-around;
    width:90%;
}

div.modal-header h4 {
    text-align: center;
}

div.modal-header button {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    right: -10%;
    top: -10%;
    background: none;
    border: none;
    z-index: 7;
}

div.modal-body {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

div.modal-body input {
    width: 80%;
}

button.modal-submit {
    margin: 5px;
    color:white;
    background: rgba(255,255,255,0.3);
    border: none;
    transition: font-weight 400ms ease;
}

button.modal-submit:hover {
    font-weight: bolder;
    transition: font-weight 400ms ease;
}

div.modal-container.open img.door-img {
    position: absolute;
    max-height: 100%;
    min-width: 100%;
    z-index:5;
    left: 90%;
    transition: left 800ms ease 1000ms;
}

div.modal-container.closed img.door-img {
    position: absolute;
    max-height: 100%;
    min-width: 100%;
    z-index:5;
    left: 0%;
    transition: left 800ms ease;
}

div.modal-container.closed {
    max-height: 0;
    opacity: 0;
    z-index: -1;
    transition: max-height 0ms 2000ms,
                 opacity 400ms ease 1000ms,
                  z-index 0ms ease 1000ms;
}

div.modal-container.open {
    max-height: 100%;
    opacity: 1;
    transition: opacity 400ms ease;
}

