
div.footer-container {
    position: relative;
    order: 1;
    width: 100vw;
}

div.position-container {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-content: flex-start;
    margin-left: -6px;
    width: 100%;
}

img.stars {
    width: 20%;
    margin: 0 0 -15px 15px;
}

img.hollywood {
    order: 1;
    max-height: 15vh;
    align-self: flex-start;
    margin-left:-5px;
    margin-bottom: -5px;
    z-index: 1;
}

div.footer-text {
    order: 2;
    z-index: 1; 
    margin-left:-5px;
    width: 100%;   
    background: #3b3b3b;
    padding-bottom: 12px;
    font-family: core-deco, Arial, Helvetica, sans-serif;
}

div.footer-text h4, div.footer-text p {
    margin: 0 0 0 25px;
}

@media only screen and (max-width: 468px) {

    img.stars {
        min-width: 150px;
    }

    div.footer-text {
        width: 110%;
    }
}