div.mainContent-container {
    font-family: core-deco;
    position: relative;
    padding-top: 15vw;
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    z-index:1;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}  

p, li, h2, h3, button {
    font-family: core-deco;
}
/* TODO(FIX FONT-SIZE, NEEDS TO BE SMALLER, CREATE HEIRARCHY) */
p, li {
    font-size: calc(10px + 0.8vw);
}

h2 {
    font-size: calc(20px + 0.8vw);
}

h3{
    font-size: calc(15px + 0.8vw);
}
/* div.parallax-container {
    height: 100%;
    width:100vw;
    box-sizing: border-box;
    
} */



div.content {
    position: relative;
    height: 100%;
    margin-top: 50px;
    padding-top: 10px;
    z-index: 1;
    order:1;
}

button.keyhole {
    background:none;
    border:none;
    position:fixed;
    bottom: 15px;
    right: 32px;
    z-index:5;
    opacity: 0.5;
    transition: transform 400ms ease, opacity 400ms ease;
}

button.keyhole img {
    height: 5vh;
}

button.keyhole:hover {
    transform: scale(1.2);
    opacity: 1;
    transition: transform 400ms ease, opacity 400ms ease;
}