:root{
    --client-height: 100vh;
}

div.mainContent-container {
    font-family: core-deco;
    position: relative;
    padding-top: 15vw;
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    z-index:1;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}  

p, li, h2, h3, button {
    font-family: core-deco, 'Courier New', Courier, monospace;
    line-height: 2.5vh;
}
/* TODO(FIX FONT-SIZE, NEEDS TO BE SMALLER, CREATE HEIRARCHY) */
p, li {
    font-size: calc(10px + 0.8vw);
}

h2 {
    font-size: calc(20px + 0.8vw);
    padding-top: 10px;
}

h3{
    font-size: calc(15px + 0.8vw);
}

h4 {
    font-size: calc(12px + 0.8vw);
}

div.content {
    position: relative;
    height: 100%;
    margin-top: 50px;
    padding-top: 10px;
    z-index: 1;
    order:1;
}

@media only screen and (min-width : 600px) and  (max-width : 980px) {
    
    p, li, h2, h3, button {
        line-height: 23px;
    }

    p, li {
        font-size: 20px;
    }
}

@media only screen and (max-width: 468px) {
   
    p, li, h2, h3, button {
        line-height: 18px;
    }

    p, li {
        font-size: 15px;
    }

    div.mainContent-container {
        height: var(--client-height);
    }

}
