
:root {
    --bg-color: rgba(12,54,78);
}

@font-face {
    font-family: "core-deco";
    font-display: swap;
    src: url("./fonts/Core-Deco.ttf")
}

div.App {
background: var(--bg-color);
overflow: hidden;
z-index:-2;
}

@media only screen and (max-width : 468px) {
    div.bg-container img[data-img=news]{
        left: -30vw;
    }
}